@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Libre Franklin', sans-serif;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

:root {
    --blue: hsl(223, 87%, 63%);
    --pale-blue: hsl(223, 100%, 88%);
    --light-red: hsl(354, 100%, 66%);
    --grey: hsl(0, 0%, 59%);
    --very-dark-blue: hsl(209, 33%, 12%);
    --white: hsl(0, 0%, 100%);
}

/* For portrait phones */

.container {
    min-height: 100dvh;
    width: 90%;
    padding: 10% 0%;
    margin: 0 auto;
    display: grid;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 5dvh;
    font-size: min(5dvw, 5dvh);
    padding: 0% 3%;
}

.logo-holder {
    display: grid;
    align-content: center;
    justify-items: center;
    transform: scale(0.7);
}

.heading h1 {
    color: var(--grey);
    font-weight: 300;
}

.heading span {
    color: var(--very-dark-blue);
    font-weight: 700;
}

.heading p {
    font-size: 70%;
}

.newsletter {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-size: 80%;
}

.newsletter input, .newsletter button {
    width: 100%;
    border-radius: 50px;
    padding: 3%;
    border: none;
}

.newsletter input {
    border: thin solid var(--pale-blue);
    outline: none;
    padding-left: 10%;
}

::placeholder {
    color: var(--grey);
}

.newsletter p {
    color: var(--light-red);
    font-size: 90%;
    font-style: italic;
    display: none;
}

.newsletter button {
    background: var(--blue);
    color: var(--white);
    box-shadow: 0px 5px 10px var(--pale-blue);
}

.hero-image {
    align-self: center;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 3dvh;
    font-size: min(4dvw, 4dvh);
    justify-content: end;
}

.socials {
    color: var(--blue);
    display: flex;
    justify-content: center;
    gap: 1em;
}

.socials div {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: grid;
    align-content: center;
    justify-items: center;
    border: thin solid var(--pale-blue);
}

i {
    padding: 0.5em;
}

.footer p {
    font-size: 60%;
    color: var(--grey);
}




/* For landscape phones */

@media (width >= 35em) and (height <= 27em) and (orientation: landscape) {}


/* For portrait tablets */

@media (width >= 44.5em) and (orientation: portrait) {}


/* For landscape tablets */

@media (width >= 62em) and (height <= 64em) and (orientation: landscape) {}


/* laptops 1200px and up */

@media (width >= 75em) {
    .container {
        width: 60%;
        padding: 5% 0%;
    }

    .header {
        padding: 3% 3%;
    }

    .logo-holder {
        transform: scale(1);
    }

    .heading p {
        font-size: 50%;
    }

    .newsletter {
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        font-size: 50%;
    }

    .newsletter input, .newsletter button {
        height: 100%;
    }

    .hero-image img {
        width: 100%;
    }

    .footer {
        padding-top: 5%;
    }

    .socials div {
        width: 60px;
        height: 60px;
    }

    .footer p {
        font-size: 50%;
    }

    .newsletter p {
        text-align: left;
        padding-left: 10%;
    }

    .newsletter button:hover {
        opacity: 0.7;
        cursor: pointer;
    }

    .socials div:hover {
        color: var(--white);
        cursor: pointer;
        background: var(--blue);
    }

    .newsletter input:hover {
        border: thin solid var(--very-dark-blue);
    }
}


/* desktops 2500px and up */

@media (width >= 156.25em) {}